<link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">
<link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css">





<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><i class="fa fa-align-justify"></i>
        </button>
        <img class=" img img-rounded" src="images/give-more.jpg"/>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" id="first">
          <li class="one">LEADERBOARD</li>
          <li >MISSION AND VALUES</li>
          <li >HOW IT WORKS</li>
          <li ng-click="logout()">logout</li>
          <li id="create-active" ><i class="fa fa-group" ></i>&nbsp &nbsp RECRUIT
          </li>
          <li id="create-active"><i class="fa fa-dollar"></i>&nbsp &nbspDONATE</li>
          <li  id="one" ><i class="fa fa-empire"></i>&nbsp &nbspDASHBOARD
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <label class="headline">Donor Dashboard</label>
    <p> Welcome aboard, <span>{{first_name}}  &nbsp {{last_name}}</span>! now that you've joined <br/>the competition ,here are somecool things you can do</p>
    <div class="firstline">
      <button type="button" class="btn btn-primary  btn-responsive" id="btn1" ng-click="recruit()"><i class="fa fa-group" ></i> &nbsp &nbsp &nbsp RECRUIT</button>
      <p id="p1">Invite your friends to join the <br/>Greatest Charity  Competition <br/>in the World!</p>


      <button type="button" class="btn btn-success  btn-responsive " id="btn2" ng-click="donate()"><i class="fa fa-dollar"></i>&nbsp &nbsp &nbspDONATE</button>
      <p id="p2">Send some love to your favourite <br/>charties to increase your Team's <br/>global ranking!</p>
    </div><br/>
    <div class="secondline">
      <button class="btn btn-md btn-responsive"  id="btn3"><i class="fa fa-list-alt" aria-hidden="true" ng-click="leaderboard()"></i>&nbsp &nbsp &nbspLEADERBOARDS</button>
      <p id="p3">Check out the Winners of each competition</p>
    </div><br/>
    <div class="thirdline">
      <button class="btn btn-md btn-responsive" id="btn4" ng-click="showcase()"><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp &nbsp &nbspSHOWCASE
      </a></button>
      <p id="p4">We love to show the world <br/> what you've done for others <br/>Control what we share here</p>
      <button class="btn btn-md btn-responsive" type="button" id="btn5" ng-click="newteam()"><i class="fa fa-slideshare" aria-hidden="true"></i>&nbsp &nbsp &nbspTEAMS</a></button>
      <p id="p5">Join new teams to complete <br/> across multiple categories <br/>at the same time!</p>
    </div><br/>
    <div class="lastline">
      <button class="btn btn-md btn-responsive" id="btn6" ng-click="account()"><i class="fa fa-list" aria-hidden="true"></i>&nbsp &nbsp &nbspACCOUNT
      </button><p id="p6">Save your personal <br/> information  to speed <br/>up the doantion process!</p>
      <button class="btn btn-md btn-responsive" id="btn7" ng-click="create()"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp &nbsp &nbspCREATE</button><p id="p7">Become a content <br/>creator to make your<br /> own competitions and teams</p>
    </div>
    <div class="side">
      <div class="firstbox">
        <h>Recent Activity</h>
        <div class="inside">
          <p>10/12/2016 -Gave $200 to charity</p>
          <p>10/12/2016 -Joined the competition</p>
        </div>
      </div>
      <div class="secondbox">
        <h>My Teams</h>
          <div class="inside">
          <p>Team XXXXX-#1 in Religion</p>
          <p>Team YYYYY-#2 in Politics</p>
          <p>Team ZZZZZ-#3 in Country</p>
        </div>
      </div>
      <div class="thirdbox">
        <h>My Stats</h>
        <div class="inside">
          <p>TotalDonations:$200</p>
          <p>Time Since Last Donation:0 days</p>
          <p>Number of Donations:1</p>
          <p>Number of Recruits:1</p>
          <p>Number of Teams Joined:3</p>
        </div><br/>
              <h id="edit">edit my profile</h>

      </div>
      </div>
  </div>