<link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">
<link rel="stylesheet" type="text/css" href="stylesheets/recruit.css">


<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><i class="fa fa-align-justify"></i>
        </button>
        <img class=" img img-rounded" src="images/give-more.jpg"/>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" id="first">
          <li class="one">LEADERBOARD</li>
          <li >MISSION AND VALUES</li>
          <li >HOW IT WORKS</li>
          <li ng-click="logout()">logout</li>
          <li id="create-active" ><i class="fa fa-group" ></i>&nbsp &nbsp RECRUIT
          </li>
          <li id="create-active"><i class="fa fa-dollar"></i>&nbsp &nbspDONATE</li>
          <li  id="one" ><i class="fa fa-empire"></i>&nbsp &nbspDASHBOARD
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <p class="text">Invite your friends to grow your teams and earn achievements</p>
    <div class="icon" >
      <a href="https://www.google.co.in/gmail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/login"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://plus.google.com"><i class="fa fa-google" aria-hidden="true"></i></a>
    </div>
  </div>
