

<div class="signup">
  <%= link_to 'sign-up',   new_user_registration_path ,:class=>"sign" %>

 </div>

<div class="total">
Together,We have given 
<br/>
 <div class="totalamount">
  $<%= @total_amount %>
 </div><br />
 in the spirit of goodwill and freindly competition
 </div>